<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Elon Musk is trying to put people on Mars.</h1>
      <p>Would you like to live there? Lets check out what it's like on Mars.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    </div>
</body>

</html>